/*  TEMPLATE STYLE
	html, body {
		position: relative;
		width: 100%;
		height: 100%;
	}

	body {
		color: #333;
		margin: 0;
		padding: 8px;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}

	a {
		color: rgb(0,100,200);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: rgb(0,80,160);
	}

	label {
		display: block;
	}

	input, button, select, textarea {
		font-family: inherit;
		font-size: inherit;
		padding: 0.4em;
		margin: 0 0 0.5em 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 2px;
	}

	input:disabled {
		color: #ccc;
	}

	input[type="range"] {
		height: 0;
	}

	button {
		color: #333;
		background-color: #f4f4f4;
		outline: none;
	}

	button:disabled {
		color: #999;
	}

	button:not(:disabled):active {
		background-color: #ddd;
	}

	button:focus {
		border-color: #666;
	}
*/

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100vw);
    scroll-snap-type: x mandatory;
  }


/*   FANPAGE    */
@font-face {
    font-family: ortica;
    src: url(./fonts/Ortica/Ortica-Light.otf);
}
@font-face {
    font-family: meadow;
    src: url(./fonts/GlyphWorld/GlyphWorld-Meadow.otf);
}

body {
	background-color: rgb(250,250,250);
	-webkit-overflow-scrolling: touch;
}

.text {font: 12px ortica;}





.viewport {
	position: absolute;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: pink;
}

.newmain {
	position: absolute;
	height: 100vh;
	width: calc(1600vw + 1px);
	top: 0px;
	left: 0px;

	display: flex;
    align-items: flex-start;
}
.content {
	/*position: relative;

	display: flex;
    align-items: flex-start;*/

	width: calc(100vw - 2px);
	height: calc(95vh - 1px);

	border-left: 1px solid rgb(70,70,70);
	border-right: 1px solid rgb(70,70,70);
	border-top: 1px solid rgb(70,70,70);

	position: -webkit-sticky !important;
    position: sticky !important;
    left: 0px;

  	scroll-snap-align: start;
    -webkit-overflow-scrolling: touch;
}
.country {background-color: rgba(250,250,250,1);}
.notcountry {background-color: rgb(245,245,245);}

.page1 {

}
.page2 {

}
.page3 {

}

.activedot {
	position: absolute;
	bottom: -5vh;
	/*background-color: rgb(70,70,70);*/
	width: calc(100vw / 16);
	height: 5vh;
}
.progressline /*
.activedot:after*/ {
	content: '';
    position: absolute;
    top: calc((5vh - (100vw / 16)) / 2);
    height: calc(100vw / 16);
    left: calc(50% - .5px);
    width: 1px;
    background-color: rgb(70,70,70);
}
.activedot1 {left:calc(100vw / 16 * 0);}
.activedot2 {left:calc(100vw / 16 * 1);}
.activedot3 {left:calc(100vw / 16 * 2);}
.activedot4 {left:calc(100vw / 16 * 3);}
.activedot5 {left:calc(100vw / 16 * 4);}
.activedot6 {left:calc(100vw / 16 * 5);}
.activedot7 {left:calc(100vw / 16 * 6);}
.activedot8 {left:calc(100vw / 16 * 7);}
.activedot9 {left:calc(100vw / 16 * 8);}
.activedot10 {left:calc(100vw / 16 * 9);}
.activedot11 {left:calc(100vw / 16 * 10);}
.activedot12 {left:calc(100vw / 16 * 11);}
.activedot13 {left:calc(100vw / 16 * 12);}
.activedot14 {left:calc(100vw / 16 * 13);}
.activedot15 {left:calc(100vw / 16 * 14);}
.activedot16 {left:calc(100vw / 16 * 15);}


/*   SWIPABLE SVELTE   */



.fullpage {
	position: absolute;
	width: 100%;
	height: 100%;
	/*overflow: hidden;
	user-select: none;*/
	overflow: scroll;
}



main {
	position: relative;
	width: 100%;
	height: 100%;



	position: absolute;
	width: 100%;
	height: 100%;

	/*border: 1px solid red;*/

	display: flex;
    align-items: flex-start;

}





#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;

}













/*     PAGES     */
.pagetitle {
    position: absolute;
    /*top: 100px;
    height: 80vh;
    right: 20px;*/
    font-size: 30px;
    font-family: meadow;
    z-index: 9;

    pointer-events: none;

    /*writing-mode: vertical-rl;
	text-orientation: mixed;*/


	bottom: 0vh;
	left: 0px;
	right: 0px;
	width: 100vw;
	text-align: center;

	/*background-color: yellow;*/

	bottom: 50vh;

	-webkit-text-fill-color: rgba(0,0,0,0); /* Will override color (regardless of order) */
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
}

.tempMeter {
	position: absolute;
	top: calc((100vw / 16) - 8px);   /* added the -8px just to push it up a bit  */
	left: calc(100vw / 16);
	right: calc(100vw / 16);
	height: calc(((95vh - 1px) / 9) - ((100vw / 16) * 2) - 2px);
	border: 1px solid black;
}

.pagetitle .text {
	font-size: 6vw !important;
	line-height: 6.5vw !important;
	/*font-family: arial;*/

	/*-webkit-text-fill-color: rgb(70,70,70);  Will override color (regardless of order) */
	-webkit-text-stroke-width: 0px;
	-webkit-text-fill-color: grey;
}







